<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <connectionStrings>
    <!-- Connection for entityFramework -->
    <add name="ApplicationDbContext" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=DB_TESTE_PATTERN;Data Source=(local);" providerName="System.Data.SqlClient" />

    <!-- Connection for SqlServer, Dapper -->
    <add name="DadosConexao" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=DB_TESTE_PATTERN;Data Source=(local);" providerName="System.Data.SqlClient" />

    <!-- Connection for MySql -->
    <add name="DadosConexao" connectionString="server=127.0.0.1;User Id=root;password=password;database=DB_TESTE_PATTERN" providerName="MySql.Data.MySqlClient" />
  
    <!-- Connection for Oracle -->
    <add name="DadosConexao" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=3366)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pattern)));User Id=USER;Password=PASSWORD;Min Pool Size=3;Max Pool Size=5" />
  </connectionStrings>

  <!-- Connection for MongoDB -->
  <appSettings>
    <add key="MongoDBDatabaseName" value="DB_TESTE_PATTERN" />
    <add key="MongoDBConnectionString" value="mongodb://localhost/{DATABASE_NAME}?safe=true" />
  </appSettings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>